/* Other rules */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f3f5f5;
}

.wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.loading {
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;
  justify-content: space-between;
}

img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
}

/* HEADER */
.header {
  background-color: white;
  padding: 5px 0;
  border-bottom: 2px solid lightgrey;
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 160px;
  height: 45px;
  object-fit: cover;
}

.header-cart {
  display: flex;
}

.header span {
  display: none;
  color: red;
  padding: 5px;
}

.cart-menu {
  display: none;
  font-size: 25px;
  color: #24cdbd;
  padding: 7px;
  border-radius: 20px;
}

.cart-menu:hover {
  cursor: pointer;

  background-color: rgba(36, 205, 189, 0.2);
}

/* SOUS-HEADER */
.sous-header {
  background-color: white;
  padding: 30px 0;
}

.sous-header .container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.sous-header div {
  width: 820px;
  margin-right: 30px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.sous-header p {
  font-size: 19px;
  font-weight: 300;
  color: #868a8a;
}

.sous-header img {
  width: 350px;
  height: 197px;
  object-fit: cover;
  border-radius: 5px;
}

/* CATEGORIES*/
.categories {
  max-width: 820px;
  margin-top: 30px;
  margin-right: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.category {
  margin-bottom: 40px;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Meal */
.meal {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 25px;
  background-color: white;
  width: 48%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.meal:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
  box-shadow: 2px 8px 10px 0 #d8d8d8;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.meal-description {
  max-height: 34px;
  font-size: 14px;
  font-weight: 300;
  color: #868a8a;
  overflow: hidden;
}

.price {
  display: flex;
  align-items: center;
}

.price p {
  font-size: 17px;
  width: 70px;
  font-weight: 300;
  color: #868a8a;
}

.popular {
  display: flex;
  font-size: 12px;
  color: #ff8000;
  width: 75px;
  align-items: center;
  justify-content: space-between;
}

.meal img {
  margin-left: 10px;
}

/* BASKET */
.basket {
  margin-top: 30px;
  width: 350px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.basket-off {
  background-color: white;
  height: 185px;
  border-radius: 5px;
  padding: 10px;
}

.basket-on {
  background-color: white;
  height: max-content;
  border-radius: 5px;
  padding: 10px;
  color: #2e3333;
}

.valid {
  width: 100%;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.valid-on {
  background-color: #24cdbd;
  margin-bottom: 10px;
  color: white;
  transition: background-color 0.2s ease;
}

.valid-on:hover {
  cursor: pointer;
  background-color: #90f4ea;
}

.valid-off {
  background-color: #c6c6c6;
  color: #8b9a9b;
}

.empty-basket {
  color: #868a8a;
  text-align: center;
  margin-top: 50px;
}

.counter {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.counter-icon {
  color: #24cdbd;
}

.counter-icon:hover {
  cursor: pointer;
}

.quantity {
  color: #808484;
}

.cart-meals {
  display: flex;
  align-items: center;
}

.cart-meal-details {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.cart-meal-details p {
  margin: 5px;
  width: 180px;
}

.taxes-sous-total div,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total,
.taxes-sous-total {
  border-top: 1px solid grey;
}

.total {
  font-size: 19px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }

  .header .container,
  .sous-header .container {
    width: 100%;
    /* padding: 0 20px; */
  }

  .sous-header div {
    width: 820px;
    margin-right: 30px;
  }
}

@media (max-width: 1080px) {
  .basket {
    display: none;
  }

  .cart-menu,
  .header span {
    display: block;
  }

  .header,
  .sous-header {
    padding: 0 20px;
  }

  .sous-header img {
    min-width: 100%;
  }

  .sous-header .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .sous-header div {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }

  .sous-header p {
    font-size: 15px;
  }

  .categories {
    max-width: 820px;
    padding: 10px;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 650px) {
  .meals {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }

  .meal {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 25px;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  @media (max-width: 375px) {
    .sous-header img {
      max-width: 100%;
    }
  }
}
